<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <location path=".">
   <system.webServer>
       
		<rewrite>
			<rules>


                <rule name="Remove trailing slash" stopProcessing="true">
                  <match url="(.*)/$" />
                  <conditions>
                    <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
         
                  </conditions>
                     <action type="Rewrite" url="{tolower:{R:1}}_.html" />
                </rule>

				<rule name="GeneralRewrite" stopProcessing="true">
					<match url="^(.*)$" ignoreCase="true" />
					<conditions> 
                            <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />   
                            <add input="{REQUEST_URI}" pattern="^/sites/.*$" negate="true" />
														</conditions>
					<action type="Rewrite" url="{tolower:{R:1}}_.html" />
				</rule>
                
                


			</rules>
		</rewrite>
            <defaultDocument>
                <files>
                    <add value="climatechange_.html" />
                </files>
            </defaultDocument>
   </system.webServer>
   </location>
</configuration>
